<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068595127005-pg57ll671mms6utt2ak39g4mm9hrldpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068595127005-pg57ll671mms6utt2ak39g4mm9hrldpn</string>
	<key>API_KEY</key>
	<string>AIzaSyC04K_oKxIfzWLirAC-33WYbf3PMdXAvAg</string>
	<key>GCM_SENDER_ID</key>
	<string>1068595127005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kanta.mynotes</string>
	<key>PROJECT_ID</key>
	<string>kanta-mynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>kanta-mynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068595127005:ios:49d298ff5eb6854397b134</string>
</dict>
</plist>